.card{
    width: 95%;
    margin: 15px auto;
}
.tarjetas{
    display:block;
}
.btn{
    margin-left:10px;
    float: right;
}
.form-check-label{
    font-size: 30px;
}
input[type=number] {
    -moz-appearance:textfield;
}
